* {
    padding: 0;
    margin: 0;
    border: none;
}
.container {
    display: flex;
}
.nav {
    position: relative;
    width: 12vw;
    height: 100vh;
    background-color: black;
    color: white;
}
li:first-child {
    margin-top: 0;
}
ul {
    width: 100%;
    height: 100%;
}
li {
    height: 55px;
    list-style: none;
    border-bottom: 1px solid #5C5C5C;
    display: flex;
    align-items: center;
}
li.active {
    background-color: #5C5C5C;
}
li a {
    margin-left: 20px;
}
.content-wrap{
    width: 88vw;
}
.content {
    padding: 0 70px;
}
.content-img {
    display: block;
    margin: auto;
    margin-top: 30px; 
}
.content-column {
    display: flex;
    margin-top: 30px;
}
.item {
    display: flex;
}

.content-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEFEF;
    padding: 20px 10px;
}
.content-container p {
    margin-top: 10px;
    width: 80%;
    text-align: center;
}
.content-column-item:first-child {
    margin-left: 0;
}
.content-column-item {
    margin-left: 10px;
}
.footer {
    border-top: 1px solid black;
    width: 100%;
    margin-top: 30px;
    padding: 30px 0;
}
.footer p {
    margin-left: 70px;
}
@media only screen and (max-width: 1024px) {
    .content-column{
        flex-flow: row wrap;
    }
    .content-column-item {
        margin-top: 20px;
    }
    .item {
        margin-top: 20px;
    }
    .item-img {
        width: 60px;
        height: 60px;
    }
    .content-img {
        width: 50%;
    }
} 
@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
    .nav {
        display: none;
    }
    .content-wrap {
        width:100%;
    }
    .content {
        padding: 10px;
    }
    .content-img {
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 30%;
    }
    .item {
        flex-flow: row wrap;
        justify-content: center;
    }
    .item-img {
        width: 80%;
        height: 80%;
    }

}
